@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
$fz : 16px;
$col:#4F5665;
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: #FFFFFF;
}

.container{
    margin: 0px 17vw;
    position: relative;
        .front-page{
            display: flex;
            flex-direction: row;
            margin-top: 38px;
            align-items: center;
            position: relative
        }
    }
    .logotype{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        .logo-text{
            font-weight: 600;
            margin-left: 10px;
        }
        .add-text-bolt{
            text-transform: uppercase;
        }
    }

    .separation-header{
        display: flex;
        justify-content: space-between;
    }


    .menu-list{
        display: flex;
        align-items: center;
        list-style-type: none;
        a{
            width: max-content;
            display: flex;
            justify-content: center;
        }
    }

    .list-li{
        margin-right: 1.6vw;
    }

    
    .logo-text{
        margin-right: 3.4vw;
    }
    
    .markup-number{
        margin-top: 1.9vw;
        display: flex;
        align-items: center;
        
    }
    .num-text-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #F53855;
    } 
    .num-text-btn:focus{
        color: white;
        background-color: #F53855;
    }

    .num-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 22px;
        color: #F53855;
        border: 1px solid #F53855;
        border-radius: 12px;
        background-color: #FFFFFF;
        margin-left: 1.07vw
    }
    .num-btn:focus{
        background-color: #F53855;
        .num-text-btn{
            color: wheat;
        }
    }


    .qvest{
        margin-top: 12.6vh;
        height: 280px;
        display: flex;
        justify-content: space-between;
        .qvest-text{
            width: 580px;
            display: flex;
            flex-direction: column;
            .basic-text{
                font-size: $fz*3.125;
            }
            .qvest-add-text{
                margin-top:  3.57vh;
                font-size: $fz;
                color:$col;
            }
            
        }
        .image-user{
            width: 31.82vw;
            height: 38vh;
            z-index: -300;
            right: 17vw;
            background: url('./images/user.png') no-repeat;
        }
    }
    .btn-start-qvest {
        margin: 7vh auto 0;
        max-width: 250px;
        height: 85px;
        border-radius: 10px;
        color: red;
        font-size: $fz;
        border: 1px solid #F53838;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // доделать
    }
    
    .btn-start-qvest:focus {
        color: #FFFFFF;
        background-color: #F53838;;
        box-shadow: 0px 40px 20px -10px #F5383859;
    }
    

    //2
    .solid{
        height: 126px;
        color: #EEEFF2;
        opacity: 0.3;
    }
    .soft-skill{
        margin-top: 16vh;
        display: flex;
        position: relative;
    }
    .soft-skill-text{
        max-width: 37.24vw;
        display: flex;
        flex-direction: column;
        .soft-skill-head{
            font-size: 35px;
        }
    }
    .soft-skill-main-text{
        margin-top: 24px;
        color:$col;
        font-size: $fz;
    }
    
    .details {
        margin-top:6.15vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2.19vw;
        justify-items: center;
        max-width: 715px;
        width: 100%;
        padding: 0;
        .baza {
            display: flex;
            align-items: center;
            margin-top: 15px;
            .img-orgamization {
                position: relative;
                width: 55px;
                height: 55px;
            }
        }
    }
    .icon {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .add-params {
        top: 50%;
    }
    .data-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 18px;
    }
    .topic-title {
        font-size: 25px;
        font-weight: 700;
        width: 100%;
        margin: 0;
    }

    .basic {
        color:$col;
        font-size: 20px;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }  
    
    .add-height-topic-title{
        margin-top: 62px;
    }
    .add-width {
        width: 258px;
    }
    .organization {
        margin-top: 10.7vh;
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 100px 84px;
        box-shadow: 0px 40px 15px -10px rgba(0, 0, 255, 0.2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 10.78vh;
        align-items: center;
    }
    .crystal-cell{
        z-index: -400;
        position: absolute;
        right: 0;
    }
    .cristall-img{
        position: absolute;
        transform: translateX(-516px);
    }
    //////3
    .card-list{
        margin-top: 17.08vh;
    }
    .card-list-head{
        text-align: center;
    }
    .card-list-description{
        text-align: center;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 6.52vh auto 17.68vh;

    }
    .card {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 306px;
        margin-right: 24px;
        margin-bottom: 24px;
        box-shadow:  0 0 0 0.5px rgba(0, 0, 0, 0.1);
        background-color:  #FFFFFF;
    }
    .head-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color:$col;
        height: 306px;
        padding: 16px 18px 16px 38px;
    }
    
    .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
        color:black;
    }
    
    .product-description {
        margin-bottom: 10px;
    }
    .characteristics{
        display: flex;
        justify-content: space-between;
        .value{
            display: flex;
            flex-direction: column;
        }
    }
    .product-price {
        font-family: 'Rubik';
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .product-price-defoult{
        font-weight: 600;
        font-size: 22px;
        color: #EF7D7D;
        font-family: 'Rubik';
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .product-price-inoy{
        color: #4F5665;
        font-size: $fz;
        text-decoration: line-through red;
    }
    //4
    .clients-text{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 2.52vh;
    }
    .clients-text-comment{
        text-align: center;
        font-size: $fz;
    }

    .slider {
        margin-top: 3.23vh;
        width: 100%;
        overflow: hidden;
    }
    
    .slider-wrapper {
        display: flex;
        flex-wrap: nowrap;
        transition: transform 0.3s ease-in-out;
        }
        
    .slider-slide {
        width: calc(100% / 4);
        flex-shrink: 0;
        margin-right: 2.5vw;
        display: inline-flex;
        width: 400px;
        height: 214px;
    }

    .testimonial-author{
        display: flex;
        flex-direction: column;
        color: $col;
        padding: 32px 30px 36px;
        border: 2px solid #EFEFEF;
        background-color: #FFFFFF;
        
    }
    .markup-image{
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }

    .img-and-name-flex{
        display: flex;
        align-items: center;
    }

    .img-name-city-flex{
        display: flex;
    }
    .name-and-city{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .name-autor{
        color: black;
        font-size: 18px;
    }
    .markup-autor-and-rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .raiting{
        display: flex;
    }

    
    .comment{
        margin-top: 16px;
    }
    
    .slider-controls {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }
    
    .slider-control {
        border: 2px solid #F53838;
        color: #F53838;
        cursor: pointer;
        padding: 10px;
        margin: 0 5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        
    }
    .slider-control:focus{
        background-color: #F53838;
        color: #FFFFFF;
    }
    
    .slider-control-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F53838;
        width: 60px;
        height: 60px;
    }
    .slider-btn{
        display: flex;
    }
    .promotion-sign{
        font: 20px/1 FontAwesome;
    }
    .slider-radio-buttons {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        position: relative;
    }
    
    .slider-radio-button {
        display: block;
        width: 15px;
        height: 15px;
        background-color: #ccc;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 50%;
    }
    .slider-radio-button:hover {
        background-color: #aaa;
    }
    .slider-radio-button:active {
        background-color: #222;
    }
    .slider-radio-button.active {
        background-color: #F53838;
        border-radius: 10px;
        width: 30px;
    }



    //5
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .feedback{
        margin: 19.56vh auto 11.91vh;
        display: flex;
        flex-direction: column;
        color: $col;
        padding:  6.15vh 6.15vh 5.95vh;
        filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.15));
        z-index: 10;
        background: #f5f7fa;
        width:  66.66vw;
        height: 33vh;
        border: 2px solid black;
        position: relative;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .image-feedback{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -99;
    }

    .feedback-head-text{
        font-size: 35px;
        color: black;
    }
    .additional-text{
        font-size: $fz;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .input-data{
        display: flex;
        justify-content: space-between;
        height: 5.95vh;
        width: 44.89vw;
        font-family: 'Rubik';
        .name-data{
            width: 14.06vw;
            font-size: $fz;
            border-radius: 10px;
            border: 1px solid #DDDDDD;
            padding: 19px 0 19px 26px;
        }
        .phone-data{
            width: 14.06vw;
            font-size: $fz;
            border: 1px solid #DDDDDD;
            border-radius: 10px;
            padding: 19px 0 19px 26px;
        }
        .btn-application{
            width: 13.02vw;
            color: #F53838;
            background-color: #FFFFFF;
            font-weight: bold;
            font-size: $fz;
            border: 1px solid #DDDDDD
        }
        .btn-application:focus{
            background-color: #F53838;
            color: #fff;
        }
    }


    .check-and-text{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    input[type='checkbox'] {
        width: 20px;
        appearance: none;
        outline: none;
        margin: 0;
    }
    
    input[type='checkbox']::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        transform: translate(-50%, -50%);
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #F53838;
    }
    
    input[type='checkbox']:checked::after {
        content: '✓';
        position: absolute;
        width: inherit;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#FFFFFF;
        background-color: #F53838;
        font-size: 20px;
        font-weight: 500;
        transform: translate(-50%, -50%);
        visibility: visible;
    }
    .feedback-underlined-text{
        text-decoration: underline #78787899;
    }
    .processing-pers-data{
        display: flex;
        flex-direction: column;
    }
    footer{
        background-color:  #F8F8F8;
    }
    .footer-separation{
        display: flex;
        justify-content: space-between;
        font-family: 'Rubik';
        padding: 7.54vh 0;
        height: 35.54vh;
        .footer-left-side{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .footer-left-side-separation-up{
                display: flex;
                flex-direction: column;
                .text-output{
                    color: $col;
                    font-size: $fz;
                }
            }
            .footer-left-side-separation-bottom{
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                .social-net-and-found{
                    display: flex;
                    flex-direction: column;
                    height: 9.03vh;
                    justify-content: space-evenly;
                    .social-net{
                        display: flex;    
                    }
                    .circle{
                            margin-right: 0.91vw;
                            width: 36px;
                            height: 36px;
                            background-color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            .img-social-net{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #F53838;
                            }
                            
                        }
                    }
                .year-foundation{
                    font-size: $fz;
                    color: $col;
                }
            }
        }
        .footer-right-side{
            display: flex;
            justify-content: space-between;
            .three-pillars{
                display: flex;
                width: 23.43vw;
                justify-content: space-between;
                .product-column{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .engage-column{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }   
                .earn-money{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 7.75vh;
                }
            }
        }
    }
    .minor-changes{
        width: 100%;
    }