@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #FFFFFF;
  margin: 0 auto;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.front-page {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
  align-items: center;
  position: relative;
}

.logotype {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.logo-text {
  font-weight: 600;
  margin-left: 10px;
}

.add-text-bolt {
  text-transform: uppercase;
}

.separation-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation-list {
  padding: 1rem;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  outline: none;
  transition-duration: 0.5s;
}

.navigation-list:hover {
  cursor: url("./images/cursor.png"), default;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.sidebar-button-open {
  display: none;
}

.sidebar-head-window {
  display: none;
}

li:hover,
li:focus-within {
  cursor: url("./cursor_hand.js"), default;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: transparent;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
}

.arrow-and-list {
  display: flex;
  align-items: center;
}

.star::before {
  transform: rotate("180deg");
}

.dropdown-list {
  padding: 0.5rem;
}

.dropdown-list::before {
  font-weight: 500;
}

.dropdown-list:hover {
  cursor: url("./images/cursor.png"), default;
  font-weight: bold;
}

.dropdown-interlayer {
  background: transparent;
  padding: 5px;
}

.dropdown-interlayer:hover,
.dropdown-interlayer:focus-within {
  background: transparent;
}

.markup-number {
  margin-top: 1.9vw;
  display: inline-flex;
  align-items: center;
  width: auto;
  cursor: url("./images/cursor.png"), default;
}

.num-text-btn:focus {
  color: white;
  background-color: #F53855;
}

.num-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 12px;
  background-color: #FFFFFF;
  margin-left: 1.07vw;
  text-decoration: none;
  cursor: url("./images/cursor.png"), default;
  text-align: center;
}

.num-btn:focus {
  background-color: #F53855;
  color: #FFFFFF;
}

.sidebar-button-open {
  width: auto;
  height: auto;
  margin: 10px;
}

asaid {
  display: none;
}

.sidebar-head-window {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.show-modal {
  display: block;
}

.modal {
  display: none;
}

.modal.show-modal {
  display: flex;
  position: absolute;
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 50px 50px 62px;
  border: 1px solid #888;
  width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: min-content;
  margin: 0 auto;
}

.modal-head-text {
  font-size: 18px;
  font-weight: bold;
}

.modal-background-text {
  font-size: 1rem;
  color: #4F5665;
  margin-top: 10px;
}

.modal-input-data {
  display: flex;
  justify-content: space-around;
  font-family: 'Rubik';
  flex-direction: column;
}

.modal-name-and-tel {
  margin-top: 26px;
}

.modal-name-data {
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  padding: 19px 0 19px 26px;
  cursor: url("./images/cursor.png"), default;
  width: 100%;
}

.modal-phone-data {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 19px 0 19px 26px;
  margin-top: 12px;
}

.modal-check-and-text {
  display: flex;
  align-items: center;
  color: #4F5665;
  text-align: center;
  margin: 25px 0 0;
}

.modal-btn-application {
  padding: 17.5px 91px;
  color: #FFFFFF;
  background-color: #F53838;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  cursor: url("./images/cursor.png"), default;
}

.modal-feedback-underlined-text {
  text-decoration: underline #78787899;
  cursor: url("./images/cursor.png"), default;
  display: flex;
}

.qvest {
  margin-top: 12.6vh;
  height: 280px;
  display: flex;
  justify-content: space-between;
}
.qvest .qvest-text {
  width: 580px;
  display: flex;
  flex-direction: column;
}
.qvest .qvest-text .basic-text {
  font-size: 50px;
  width: max-content;
}
.qvest .qvest-text .qvest-add-text {
  margin-top: 3.57vh;
  font-size: 1rem;
  color: #4F5665;
}
.qvest .image-user {
  height: 38vh;
  z-index: -300;
  right: 17vw;
}

.btn-start-qvest {
  margin: 3.7vh auto 0;
  max-width: 250px;
  height: 85px;
  border-radius: 10px;
  color: red;
  font-size: 1rem;
  border: 1px solid #F53838;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  cursor: url("./images/cursor.png"), default;
}

.btn-start-qvest:focus {
  color: #FFFFFF;
  background-color: #F53838;
  box-shadow: 0px 40px 20px -10px #F5383859;
}

.solid {
  height: 126px;
  color: #EEEFF2;
  opacity: 0.3;
}

.soft-skill {
  margin-top: 16vh;
  display: flex;
}

.soft-skill-text {
  max-width: 37.24vw;
  display: flex;
  flex-direction: column;
}
.soft-skill-text .soft-skill-head {
  font-size: 2.188rem;
}

.soft-skill-main-text {
  margin-top: 24px;
  color: #4F5665;
  font-size: 1rem;
}

.details {
  margin-top: 6.15vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.19vw;
  justify-items: center;
  max-width: 715px;
  width: 100%;
  padding: 0;
}
.details .baza {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.details .baza .img-orgamization {
  position: relative;
  width: 55px;
  height: 55px;
}

.icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon .add-params {
  display: none;
}

.icon .add-params {
  display: none;
}

.data-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 18px;
}

.topic-title {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  margin: 0;
}

.basic {
  color: #4F5665;
  font-size: 1.25rem;
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

.add-height-topic-title {
  margin-top: 62px;
}

.add-width {
  width: 258px;
}

.organization {
  margin-top: 10.7vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 100px 84px;
  box-shadow: 0px 40px 15px -10px rgba(0, 0, 255, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 10.78vh;
  align-items: center;
}

.crystal-cell {
  z-index: -400;
  position: absolute;
  right: 0;
}

.cristall-img {
  position: absolute;
  right: 0;
  left: auto;
  height: 600px;
}

.card-list {
  margin-top: 17.08vh;
}

.card-list-head {
  text-align: center;
}

.card-list-description {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 6.52vh auto 17.68vh;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 306px;
  margin-right: 24px;
  margin-bottom: 24px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: url("./images/cursor.png"), default;
}

.head-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4F5665;
  height: 306px;
  padding: 16px 18px 16px;
}

.product-name {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.product-description {
  margin-bottom: 10px;
}

.characteristics {
  display: flex;
  justify-content: space-between;
}
.characteristics .value {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-family: 'Rubik';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-defoult {
  font-weight: 600;
  font-size: 1.37rem;
  color: #EF7D7D;
  font-family: 'Rubik';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-inoy {
  color: #4F5665;
  font-size: 1rem;
  text-decoration: line-through red;
}

.clients-text {
  text-align: center;
  font-size: 2.18rem;
  font-weight: 600;
  margin-bottom: 2.52vh;
}

.clients-text-comment {
  text-align: center;
  font-size: 1rem;
}

.slider {
  margin-top: 3.23vh;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}

.slider-slide {
  width: calc(100% / 4);
  flex-shrink: 0;
  margin-right: 2.5vw;
  display: inline-flex;
  width: 400px;
  height: 214px;
  cursor: url("./images/cursor.png"), default;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  color: #4F5665;
  padding: 32px 30px 36px;
  border: 2px solid #EFEFEF;
  background-color: #FFFFFF;
}

.markup-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.img-and-name-flex {
  display: flex;
  align-items: center;
}

.img-name-city-flex {
  display: flex;
}

.name-and-city {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.name-autor {
  color: black;
  font-size: 18px;
}

.markup-autor-and-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.raiting {
  display: flex;
}

.comment {
  margin-top: 16px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.slider-control {
  border: 2px solid #F53838;
  color: #F53838;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}

.slider-control:focus {
  background-color: #F53838;
  color: #FFFFFF;
}

.slider-control-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F53838;
  width: 60px;
  height: 60px;
}

.slider-btn {
  display: flex;
  cursor: url("./images/cursor.png"), default;
}

.promotion-sign {
  font: 20px/1 FontAwesome;
}

.slider-radio-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.slider-radio-button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-radio-button:hover {
  background-color: #aaa;
}

.slider-radio-button:active {
  background-color: #222;
}

.slider-radio-button.active {
  background-color: #F53838;
  border-radius: 10px;
  width: 30px;
}

.feedback {
  margin: 19.56vh auto 11.91vh;
  display: flex;
  flex-direction: column;
  color: #4F5665;
  padding: 6.15vh 6.15vh 5.95vh;
  filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.15));
  z-index: 10;
  background: #f5f7fa;
  width: 66.66vw;
  height: 38vh;
  border: 2px solid black;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0.7;
}

.feedback-active {
  opacity: 1;
}

.image-feedback {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -99;
}

.feedback-head-text {
  font-size: 2.18rem;
  color: black;
}

.additional-text {
  font-size: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-data {
  display: flex;
  justify-content: space-between;
  height: 5.95vh;
  width: 44.89vw;
  font-family: 'Rubik';
}
.input-data .name-data {
  width: 14.06vw;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  padding: 19px 0 19px 26px;
  cursor: url("./images/cursor.png"), default;
}
.input-data .phone-data {
  width: 14.06vw;
  font-size: 1rem;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 19px 0 19px 26px;
}
.input-data .btn-application {
  width: 13.02vw;
  color: #F53838;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #DDDDDD;
  cursor: url("./images/cursor.png"), default;
  border-radius: 10px;
}
.input-data .btn-application:focus {
  background-color: #F53838;
  color: #fff;
}

.check-and-text {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

input[type='checkbox'] {
  width: 20px;
  appearance: none;
  outline: none;
  margin: 0;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F53838;
  opacity: 1;
}

input[type='checkbox']:checked::after {
  content: '✓';
  position: absolute;
  width: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #F53838;
  font-size: 1rem;
  font-weight: 500;
  transform: translate(-50%, -50%);
  visibility: visible;
}

input[type='checkbox']:checked ~ .feedback {
  opacity: 1;
}

.feedback-underlined-text {
  text-decoration: underline #78787899;
  cursor: url("./images/cursor.png"), default;
}

.processing-pers-data {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #F8F8F8;
}

.footer-separation {
  display: flex;
  justify-content: space-between;
  font-family: 'Rubik';
  padding: 3.95vh 0;
  align-items: center;
}
.footer-separation .footer-left-side-separation-up {
  display: flex;
  flex-direction: column;
}
.footer-separation .social-net-and-found {
  display: flex;
  flex-direction: column;
  height: 4.73vh;
  justify-content: space-evenly;
}
.footer-separation .social-net-and-found .circle {
  margin-right: 0.91vw;
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-separation .social-net-and-found .circle .img-social-net {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("./images/cursor.png"), default;
  background-color: #F53838;
}
.footer-separation .year-foundation {
  font-size: 1rem;
  color: #4F5665;
  margin-top: 20px;
}

.text-output {
  color: #4F5665;
  margin-top: 20px;
  font-size: 1rem;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 230px;
}

.footer-left-side-separation-bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.social-net {
  display: flex;
}

.footer-right-side {
  display: flex;
  justify-content: space-between;
}

.three-pillars {
  display: flex;
  width: 23.43vw;
  justify-content: space-between;
}

.product-column {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}

.engage-column {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
}

.earn-money {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
}

.setting-for-smaller-screen {
  display: none;
}

.intraorganizational-list {
  padding: 0.5rem 0;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  background: url("./images/cursor.png");
  z-index: 9999;
}

.cursor {
  cursor: url("./images/cursor.png"), default;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }

  .navigation {
    display: none;
  }

  .modal .show-modal {
    display: flex;
    position: absolute;
    margin: auto auto;
  }

  .sidebar-button-open {
    display: block;
  }

  .sidebar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .sidebar-head-window {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: stretch;
    font-size: 1rem;
    color: #4F5665;
    z-index: 4;
  }

  .sidebar-button-close {
    right: 0;
    max-width: 100%;
    position: absolute;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
  }

  .sidebar-head-window {
    display: block;
  }

  asaid {
    display: none;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 105px 0 0 30px;
    padding: 14px 0 14px;
  }

  .siderbar-menu-price-nesting {
    padding: 0.5rem;
    border-bottom: 1px solid #D2D2D2;
    width: 100%;
  }

  .siderbar-menu-price-nesting::before {
    background-color: #EEEFF2;
  }

  .sidebar-list {
    padding: 0.5rem;
    border-bottom: 1px solid #D2D2D2;
    width: 100%;
  }

  .sidebar-list:first-child {
    border-top: 1px solid #D2D2D2;
  }

  .sidebar-menu-price-list {
    width: 100%;
  }

  .sidebar-menu-price-list-punts {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-bottom: 1px solid #D2D2D2;
    width: 100%;
    display: none;
  }

  .siderbar-menu-price-nesting::before {
    background-color: #D2D2D2;
  }

  .sidebar-menu-price-list-punts:first-child {
    border-top: 1px solid #D2D2D2;
  }

  .sidebar-open {
    right: 0;
  }

  .separation-header {
    display: flex;
    align-items: flex-end;
  }

  .qvest {
    margin-top: 12.6vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .qvest .image-user {
    width: revert;
    height: 38vh;
    z-index: -300;
    right: 17vw;
  }

  .order-block {
    order: 2;
  }

  .user-picture-location {
    order: 1;
    display: flex;
  }

  .qvest-add-text {
    display: flex;
  }

  .modal-content {
    background-color: white;
    margin: auto;
    padding: 50px 50px 62px;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
  }

  .modal-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;
    align-items: center;
  }

  .show-modal {
    margin: auto;
    width: 768px;
  }

  .icon {
    display: none;
  }

  .add-params {
    display: none;
  }

  .btn-start-qvest {
    margin: 45px auto 0;
    max-width: 250px;
    height: 85px;
    border-radius: 10px;
    color: red;
    font-size: 1rem;
    border: 1px solid #F53838;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    cursor: url("./images/cursor.png"), default;
    order: 3;
  }

  .organization {
    margin-top: 550px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    box-shadow: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    box-shadow: 0px 40px 15px -10px rgba(0, 0, 255, 0.2);
  }

  .soft-skill-text .soft-skill-head {
    font-size: 2.188rem;
    width: max-content;
  }

  .soft-skill-main-text {
    margin-top: 24px;
    color: #4F5665;
    width: 663px;
    font-size: 1rem;
  }

  .details {
    margin-top: 6.15vh;
    display: flex;
    gap: 0;
    max-width: 715px;
    width: 100%;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .crystal-cell {
    z-index: -400;
    position: absolute;
    overflow: inherit;
  }

  .cristall-img {
    position: absolute;
    right: 0;
    left: auto;
    overflow: hidden;
  }

  .details
  .baza {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 430px;
  }

  .img-orgamization {
    display: none;
  }

  .card-list-description {
    text-align: center;
    margin-top: 22px;
  }

  .cards {
    display: flex;
    margin: 6.52vh 0 17.68vh;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .testimonial-author {
    display: flex;
    flex-direction: column;
    color: #4F5665;
    padding: 32px 30px 36px;
    border: 2px solid #EFEFEF;
    background-color: #FFFFFF;
    margin-top: 64px;
    height: 215px;
  }

  .name-autor {
    color: black;
    font-size: 18px;
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    align-items: center;
  }

  .feedback {
    display: flex;
    margin: 216px 40px;
    flex-direction: column;
    color: #4F5665;
    padding: 6.15vh 6.15vh 5.95vh;
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.15));
    z-index: 10;
    background: #f5f7fa;
    width: auto;
    height: 642px;
    border: none;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0.5;
    border-radius: 50px;
  }

  .input-data {
    display: flex;
    justify-content: space-around;
    height: 316px;
    width: auto;
    font-family: 'Rubik';
    flex-direction: column;
    align-items: flex-start;
  }
  .input-data .name-data {
    width: 270px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    padding: 19px 0 19px 26px;
    cursor: url("./images/cursor.png"), default;
  }
  .input-data .phone-data {
    width: 270px;
    font-size: 1rem;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    padding: 19px 0 19px 26px;
  }
  .input-data .btn-application {
    width: 270px;
    height: 60px;
  }

  .text-output {
    margin-top: 40px;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 136px;
  }

  .footer-logotype {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
  }

  .footer-logo-text {
    text-align: center;
    margin-left: 10px;
  }

  .footer-separation {
    flex-direction: column;
    align-items: center;
  }

  .footer-left-side {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 40px;
  }

  .dropdown {
    display: block;
  }

  .close {
    max-height: 1000px;
    transition: max-height 0.5s ease-out;
    display: none;
  }

  .hidden {
    display: none;
  }

  .footer-navigation-list .dropdowner {
    display: none;
  }

  .footer-navigation-list .dropdowner.shower {
    display: block;
  }

  .footer-navigation-list .dropdown-interlayer {
    height: 1px;
    margin: -1px 0 0;
    overflow: hidden;
  }

  .footer-navigation-list .footer-dropdown-list {
    display: block;
    padding: 5px 0;
  }

  .footer-arrow-and-list {
    margin-top: 40px;
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-nasting,
  .engage-nasting,
  .earnmoney-nesting {
    display: flex;
    width: 500px;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 10px;
  }

  .product-dropdown-lists {
    width: 100%;
  }

  .product-lists,
  .engage-lists,
  .earnmoney-lists {
    display: none;
  }

  .product-lists:last-child,
  .engage-lists:last-child {
    margin-bottom: 10px;
  }

  .svg-rotate {
    transform: rotate(180deg);
  }

  .footer-dropdown-list {
    margin: 0.5rem;
  }

  .footer-dropdown-list::before {
    font-weight: 500;
  }

  .footer-dropdown-list:hover {
    cursor: url("./images/cursor.png"), default;
    font-weight: bold;
  }

  .footer-navigation-list {
    width: inherit;
  }

  .footer-left-side-separation-bottom {
    display: none;
  }

  .footer-right-side {
    display: none;
  }

  .social-net {
    display: none;
  }

  .year-foundation {
    display: none;
  }

  .footer-arrow-and-list {
    display: flex;
    align-items: center;
  }

  .setting-for-smaller-screen {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
