@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #FFFFFF;
}

.container {
  margin: 0 17vw;
}
.container .front-page {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
  align-items: center;
  position: relative;
}

.logotype {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.logotype .logo-text {
  font-weight: 600;
  margin-left: 10px;
}
.logotype .add-text-bolt {
  text-transform: uppercase;
}

.separation-header {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  padding: 1rem;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  outline: none;
  transition-duration: 0.5s;
}

.navigation-list:hover {
  font-weight: bold;
}

.navigation-list:hover {
  cursor: url("./images/cursor.png"), default;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: transparent;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.arrow-and-list {
  display: flex;
  align-items: center;
}

.dropdown-list {
  padding: 0.5rem;
}

.dropdown-list::before {
  font-weight: 500;
}

.dropdown-list:hover {
  cursor: url("./images/cursor.png"), default;
  font-weight: bold;
}

.dropdown-interlayer {
  background: transparent;
  padding: 5px;
}

.dropdown-interlayer:hover,
.dropdown-interlayer:focus-within {
  background: transparent;
}

.markup-number {
  margin-top: 1.9vw;
  display: flex;
  align-items: center;
  cursor: url("./images/cursor.png"), default;
}

.num-text-btn:focus {
  color: white;
  background-color: #F53855;
}

.num-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
  color: #F53855;
  border: 1px solid #F53855;
  border-radius: 12px;
  background-color: #FFFFFF;
  margin-left: 1.07vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #F53855;
  cursor: url("./images/cursor.png"), default;
}

.num-btn:focus {
  background-color: #F53855;
  color: #FFFFFF;
}

.qvest {
  margin-top: 12.6vh;
  height: 280px;
  display: flex;
  justify-content: space-between;
}
.qvest .qvest-text {
  width: 580px;
  display: flex;
  flex-direction: column;
}
.qvest .qvest-text .basic-text {
  font-size: 50px;
}
.qvest .qvest-text .qvest-add-text {
  margin-top: 3.57vh;
  font-size: 16px;
  color: #4F5665;
}
.qvest .image-user {
  width: 31.82vw;
  height: 38vh;
  z-index: -300;
  right: 17vw;
  background: url("./images/user.png") no-repeat;
}

.btn-start-qvest {
  margin: 3.7vh auto 0;
  max-width: 250px;
  height: 85px;
  border-radius: 10px;
  color: red;
  font-size: 16px;
  border: 1px solid #F53838;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  cursor: url("./images/cursor.png"), default;
}

.btn-start-qvest:focus {
  color: #FFFFFF;
  background-color: #F53838;
  box-shadow: 0px 40px 20px -10px #F5383859;
}

.solid {
  height: 126px;
  color: #EEEFF2;
  opacity: 0.3;
}

.soft-skill {
  margin-top: 16vh;
  display: flex;
}

.soft-skill-text {
  max-width: 37.24vw;
  display: flex;
  flex-direction: column;
}
.soft-skill-text .soft-skill-head {
  font-size: 35px;
}

.soft-skill-main-text {
  margin-top: 24px;
  color: #4F5665;
  font-size: 16px;
}

.details {
  margin-top: 6.15vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.19vw;
  justify-items: center;
  max-width: 715px;
  width: 100%;
  padding: 0;
}
.details .baza {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.details .baza .img-orgamization {
  position: relative;
  width: 55px;
  height: 55px;
}

.icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-params {
  top: 50%;
}

.data-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 18px;
}

.topic-title {
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  margin: 0;
}

.basic {
  color: #4F5665;
  font-size: 20px;
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

.add-height-topic-title {
  margin-top: 62px;
}

.add-width {
  width: 258px;
}

.organization {
  margin-top: 10.7vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 100px 84px;
  box-shadow: 0px 40px 15px -10px rgba(0, 0, 255, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 10.78vh;
  align-items: center;
}

.crystal-cell {
  z-index: -400;
  position: absolute;
  right: 0;
}

.cristall-img {
  position: absolute;
  /* делаем картинку абсолютно позиционированной */
  right: 0;
  /* выравниваем картинку по правому краю контейнера */
  left: auto;
}

.card-list {
  margin-top: 17.08vh;
}

.card-list-head {
  text-align: center;
}

.card-list-description {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 6.52vh auto 17.68vh;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 306px;
  margin-right: 24px;
  margin-bottom: 24px;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: url("./images/cursor.png"), default;
}

.head-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4F5665;
  height: 306px;
  padding: 16px 18px 16px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.product-description {
  margin-bottom: 10px;
}

.characteristics {
  display: flex;
  justify-content: space-between;
}
.characteristics .value {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-family: 'Rubik';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-defoult {
  font-weight: 600;
  font-size: 22px;
  color: #EF7D7D;
  font-family: 'Rubik';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-inoy {
  color: #4F5665;
  font-size: 16px;
  text-decoration: line-through red;
}

.clients-text {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 2.52vh;
}

.clients-text-comment {
  text-align: center;
  font-size: 16px;
}

.slider {
  margin-top: 3.23vh;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}

.slider-slide {
  width: calc(100% / 4);
  flex-shrink: 0;
  margin-right: 2.5vw;
  display: inline-flex;
  width: 400px;
  height: 214px;
  cursor: url("./images/cursor.png"), default;
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  color: #4F5665;
  padding: 32px 30px 36px;
  border: 2px solid #EFEFEF;
  background-color: #FFFFFF;
}

.markup-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.img-and-name-flex {
  display: flex;
  align-items: center;
}

.img-name-city-flex {
  display: flex;
}

.name-and-city {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.name-autor {
  color: black;
  font-size: 18px;
}

.markup-autor-and-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.raiting {
  display: flex;
}

.comment {
  margin-top: 16px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.slider-control {
  border: 2px solid #F53838;
  color: #F53838;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}

.slider-control:focus {
  background-color: #F53838;
  color: #FFFFFF;
}

.slider-control-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F53838;
  width: 60px;
  height: 60px;
}

.slider-btn {
  display: flex;
  cursor: url("./images/cursor.png"), default;
}

.promotion-sign {
  font: 20px/1 FontAwesome;
}

.slider-radio-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.slider-radio-button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-radio-button:hover {
  background-color: #aaa;
}

.slider-radio-button:active {
  background-color: #222;
}

.slider-radio-button.active {
  background-color: #F53838;
  border-radius: 10px;
  width: 30px;
}

.feedback {
  margin: 19.56vh auto 11.91vh;
  display: flex;
  flex-direction: column;
  color: #4F5665;
  padding: 6.15vh 6.15vh 5.95vh;
  filter: drop-shadow(4px 4px 40px rgba(0, 0, 0, 0.15));
  z-index: 10;
  background: #f5f7fa;
  width: 66.66vw;
  height: 33vh;
  border: 2px solid black;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0.7;
}

.feedback.active {
  opacity: 1;
}

.image-feedback {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -99;
}

.feedback-head-text {
  font-size: 35px;
  color: black;
}

.additional-text {
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-data {
  display: flex;
  justify-content: space-between;
  height: 5.95vh;
  width: 44.89vw;
  font-family: 'Rubik';
}
.input-data .name-data {
  width: 14.06vw;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  padding: 19px 0 19px 26px;
  cursor: url("./images/cursor.png"), default;
}
.input-data .phone-data {
  width: 14.06vw;
  font-size: 16px;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  padding: 19px 0 19px 26px;
}
.input-data .btn-application {
  width: 13.02vw;
  color: #F53838;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #DDDDDD;
  cursor: url("./images/cursor.png"), default;
}
.input-data .btn-application:focus {
  background-color: #F53838;
  color: #fff;
}

.check-and-text {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

input[type='checkbox'] {
  width: 20px;
  appearance: none;
  outline: none;
  margin: 0;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F53838;
  opacity: 1;
}

input[type='checkbox']:checked::after {
  content: '✓';
  position: absolute;
  width: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #F53838;
  font-size: 20px;
  font-weight: 500;
  transform: translate(-50%, -50%);
  visibility: visible;
}

input[type='checkbox']:checked ~ .feedback {
  opacity: 1;
}

.feedback-underlined-text {
  text-decoration: underline #78787899;
  cursor: url("./images/cursor.png"), default;
}

.processing-pers-data {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #F8F8F8;
}

.footer-separation {
  display: flex;
  justify-content: space-between;
  font-family: 'Rubik';
  padding: 3.95vh 0;
  align-items: center;
}
.footer-separation .footer-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 230px;
}
.footer-separation .footer-left-side .footer-left-side-separation-up {
  display: flex;
  flex-direction: column;
}
.footer-separation .footer-left-side .footer-left-side-separation-up .text-output {
  color: #4F5665;
  margin-top: 20px;
  font-size: 16px;
}
.footer-separation .footer-left-side .footer-left-side-separation-bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-separation .footer-left-side .footer-left-side-separation-bottom .social-net-and-found {
  display: flex;
  flex-direction: column;
  height: 4.73vh;
  justify-content: space-evenly;
}
.footer-separation .footer-left-side .footer-left-side-separation-bottom .social-net-and-found .social-net {
  display: flex;
}
.footer-separation .footer-left-side .footer-left-side-separation-bottom .social-net-and-found .circle {
  margin-right: 0.91vw;
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-separation .footer-left-side .footer-left-side-separation-bottom .social-net-and-found .circle .img-social-net {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("./images/cursor.png"), default;
  background-color: #F53838;
}
.footer-separation .footer-left-side .footer-left-side-separation-bottom .year-foundation {
  font-size: 16px;
  color: #4F5665;
  margin-top: 20px;
}
.footer-separation .footer-right-side {
  display: flex;
  justify-content: space-between;
}
.footer-separation .footer-right-side .three-pillars {
  display: flex;
  width: 23.43vw;
  justify-content: space-between;
}
.footer-separation .footer-right-side .three-pillars .product-column {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.footer-separation .footer-right-side .three-pillars .engage-column {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.footer-separation .footer-right-side .three-pillars .earn-money {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.intraorganizational-lists {
  padding: 0.5rem 0;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  background: url("./images/cursor.png");
  z-index: 9999;
}

.cursor {
  cursor: url("./images/cursor.png"), default;
}

/*# sourceMappingURL=style.css.map */
